@media screen {
	
	/* General */
	
	* {
		margin: 0px;
		padding: 0px;
		border: 0px;
	}
	
	html {
		width: 100%;
		height: 100%;
	}
	
	body {
		height: 100%;
	}
	
	/* Body */

	#bar {
		display: block;
		width: 100%;
		height: 40%;
		background-color: red;
	}
	
	.button {
		display: block;
		position: absolute;
		width: 25%;
	}
	
	#left.button, #right.button {
		top: 60%;
		height: 40%;
	}
	
	#middle1.button, #middle2.button {
		height: 60%;
	}
	
	#left.button {
		left: 0%;
		background-color: blue;
	}
	
	#middle1.button {
		left: 25%;
		background-color: green;
	}
	
	#middle2.button {
		left: 50%;
		background-color: yellow;
	}
	
	#right.button {
		left: 75%;
		background-color: violet;
	}
	
}
