p.title {
    font-family: fantasy;
    font-size: 30px;
    text-align: center;
    color: yellow;
    text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
}

p.menu {
    font-family: fantasy;
    font-size: 20px;
    text-align: center;
    color: yellow;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

#credits {
    list-style: none;
    font-family: fantasy;
    font-size: 20px;
    text-align: center;
    color: yellow;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}
}